<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <ion-list id="contacts-list1">
      <ion-item class="item-icon-right" id="contacts-list-item4" ui-sref="info()">Carlo Cortez
        <span class="item-note">09750197625</span>
        <i class="icon ion-social-whatsapp-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="contacts-list-item5" ui-sref="info2()">Sarah Tadeo
        <span class="item-note">09163674507</span>
        <i class="icon ion-social-whatsapp"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="contacts-list-item6" ui-sref="info3()">She Pena
        <span class="item-note">09558722665</span>
        <i class="icon ion-social-whatsapp-outline"></i>
      </ion-item>
    </ion-list>
    <ion-list id="contacts-list2">
      <ion-item class="item-icon-right" id="contacts-list-item7" ui-sref="info4()">Leigh Dela Pena
        <span class="item-note">09359389478</span>
        <i class="icon ion-social-whatsapp"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="contacts-list-item8" ui-sref="info5()">Martina Pineda
        <span class="item-note">09550478939</span>
        <i class="icon ion-social-whatsapp-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="contacts-list-item9" ui-sref="info6()">Aldrin Bondoc
        <span class="item-note">09175071137</span>
        <i class="icon ion-social-whatsapp"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>