<ion-view title="Info" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="info4-list11">
      <ion-item class="item-thumbnail-left item-icon-right" id="info4-list-item17" ui-sref="contacts()">
        <img src="img/Wm1srU9QTicRo7uzQqzw_leigh.jpg">
        <h2>Leigh Dela Pena</h2>
        <p>09359389478</p>
        <i class="icon ion-social-whatsapp"></i>
      </ion-item>
    </ion-list>
    <div id="info4-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Full Name: Allyssa Leigh Dela Pena</p>

      <p style="color:#000000;font-size:18px;">Address: San Luis, Pampanga</p>

      <p style="color:#000000;font-size:18px;">Course: Information Technology</p>
    </div>
  </ion-content>
</ion-view>