<ion-view title="Info" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="info5-list13">
      <ion-item class="item-thumbnail-left item-icon-right" id="info5-list-item19" ui-sref="contacts()">
        <img src="img/x3k0EVKbTwuT2zJjeaOt_marts.jpg">
        <h2>Martina Pineda</h2>
        <p>09550478939</p>
        <i class="icon ion-social-whatsapp-outline"></i>
      </ion-item>
    </ion-list>
    <div id="info5-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Full Name: Martina Dominique Pineda</p>

      <p style="color:#000000;font-size:18px;">Address: Santo Thomas, Pampanga</p>

      <p style="color:#000000;font-size:18px;">Course: Information Technology</p>
    </div>
  </ion-content>
</ion-view>